@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
    font-family: 'Aptos';
    src: url('/fonts/Aptos-Regular.woff2') format('woff2'),
         url('/fonts/Aptos-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Aptos Narrow';
    src: url('/fonts/AptosNarrow-Regular.woff2') format('woff2');
    font-weight: normal;
  }

  @font-face {
    font-family: 'Aptos Display';
    src: url('/fonts/AptosDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Aptos Mono';
    src: url('/fonts/AptosMono-Regular.woff2') format('woff2');
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Aptos Serif';
    src: url('/fonts/AptosSerif-Regular.woff2') format('woff2');
    font-weight: normal;
  }

@media (min-width : 768px) and (max-width: 1024px) {
    .container {
        width: 45%;
        height: 100%;
        --color: rgba(114, 114, 114, 0.3);
        background-color: #191a1a;
        background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
            linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
        background-size: 55px 55px;
      }

}